:root {
  --primary: #FAFAFF;
  --secondary: #0B132B;
  --accent: #3A506B;
  --complimentary: #5BC0BE;
  --heading-lg: 3.75rem;
  --heading-md: 3rem;
  --heading-sm: 1.75rem;
  --bd-md: 1.25rem;
  --bd-text: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  padding: 1rem 3rem;
  background-color: var(--primary);
  position: sticky;
  top: 0;
  z-index: 999;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo-container img {
  height: 40px;
  object-fit: contain;
}

.logo-container p {
  font-family: 'Poetsen One', sans-serif;
  font-size: var(--bd-md);
  color: var(--secondary);
}

.links {
  display: flex;
  gap: 1.5rem;
}

.links a {
  text-decoration: none;
  color: var(--secondary);
  font-weight: 400;
  font-size: var(--bd-text);
}

.icons {
  display: flex;
  gap: 1rem;
}

.icons a {
  text-decoration: none;
}

.icons i {
  font-size: 1.5rem;
  color: var(--secondary);
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  color: var(--secondary);
  cursor: pointer;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  background-color: var(--secondary);
}

.mobile-menu a {
  padding: 1rem;
  color: var(--primary);
  text-decoration: none;
  font-size: var(--bd-text);
}

.to-right {
  display: flex;
  gap: 1rem;
}

.hero-container {
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
}

.cards-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  position: relative;
}

.card-hero1 {
  width: 100%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  position: relative;
}

.card-hero1 img {
  max-height: 618px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-radius: 2rem;
}

.card-text {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 10;
  color: var(--secondary);
  border-radius: 1rem;
  max-width: 700px;
  font-size: var(--heading-lg);
  line-height: 5rem;
  text-transform: capitalize;
  font-family: 'Poetsen One', sans-serif;
}
.card-text-2{
  position: absolute;
  top: 50%;
  left: 5%;
  padding: 1rem;
  max-width: 400px;
}
.card-text-3{
  position: absolute;
  top: 60%;
  left: 5%;
  padding: 1rem;
  max-width: 400px;
}
.card-text-2 a,
.card-text-3 a {
  font-size: var(--bd-text);
  text-decoration: none;
  color: var(--primary);
  background-color: var(--complimentary);
  padding: 0.60rem 1.5rem;
  font-weight: 500;
  border-radius: 2rem;
  font-family: 'Raleway', sans-serif;
}
.card-text-3 h2 {
  font-size: var(--heading-sm);
  line-height: 2rem;
  color: var(--secondary);
  margin-bottom: 1rem;
  font-family: 'Poetsen One', sans-serif;
}
.card-text-2 h2 {
  font-size: var(--heading-sm);
  line-height: 2rem;
  color: var(--secondary);
  margin-bottom: 1rem;
  font-family: 'Poetsen One', sans-serif;
}
.card-text-2 p,
.card-text-3 p{
  display: none;
}

.card-text p,
.card-text-2 p,
.card-text-3 p {
  font-size: var(--bd-text);
  line-height: 1rem;
  margin-top: 1rem;
  opacity: 60%;
  color: var(--secondary);
  margin-bottom: -10px;
  font-family: 'Raleway', sans-serif;
}

.card-text a {
  font-size: var(--bd-text);
  text-decoration: none;
  color: var(--primary);
  background-color: var(--complimentary);
  padding: 0.80rem 2rem;
  font-weight: 600;
  border-radius: 2rem;
  font-family: 'Raleway', sans-serif;
}

.card-hero2 {
  width: 100%;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  position: relative;
}

.card-hero2 img {
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-radius: 2rem;
}

.card-hero3 {
  width: 100%;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  position: relative;
}

.card-hero3 img {
  max-height: 300px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  border-radius: 2rem;
}

.brands {
  overflow: hidden;
  background: var(--primary);
  padding: 1rem 3rem;
}

.brands-track {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.brands-container {
  display: flex;
  background-color: var(--primary);
  padding: 2rem 0;
  gap: 3rem;
  width: max-content;
  animation: scroll-left 30s linear infinite;
}

.brands-content {
  flex: 0 0 auto;
  margin: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands-content img {
  height: 60px;
  width: auto;
  filter: grayscale(100%);
}
.new-arrival-banner{
  padding: 1rem 3rem;
}
.new-a-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-a-content img{
  width: 100%;
  height: auto;
  border-radius: 2rem;
}
.new-a-content h2{
  font-size: var(--heading-md);
  font-family: 'Poetsen One', sans-serif;
  text-transform: uppercase;
  margin-top: 1rem;
  color: var(--secondary);
}
.new-a-content p{
  font-size: var(--bd-text);
  font-family: 'Raleway', sans-serif;
  color: var(--secondary);
  font-weight: 600;
  margin-top: 0.30rem;
  margin-bottom: 1rem;
}
.new-a-content a{
  font-size: var(--bd-text);
  font-family: 'Raleway', sans-serif;
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--complimentary);
  padding: 0.80rem 2rem;
  border-radius: 2rem;
}
.testimonial{
  padding: 1rem 3rem;
  overflow: hidden;
  background-color: var(--primary);
}
.testimonial-header h2{
  font-family: 'Poetsen One', sans-serif;
  font-size: var(--heading-md);
  color: var(--secondary);
}
.testimonials-track{
  width: 100%;
  overflow: hidden;
  position: relative;
}
.testimonials-container{
  display: flex;
  margin-top: 1rem;
  gap: 2rem;
  width: max-content;
  animation: scroll-left-testimonial 20s linear infinite;
}
.test-cards{
  display: flex;
  max-width: 630px;
  align-items: center;
  padding: 1.5rem;
  background-color: #FFFFFF;
  border: 1px solid #5BC0BE;
  border-radius: 24px;
  gap: 2.3rem;
}
.profile-img{
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 50%;
}
.cards-content .stars{
  color: var(--complimentary);
  font-size: 1rem;
  margin-bottom: 10px;
}
.feedback{
  font-family: 'Raleway', sans-serif;
  font-size: var(--bd-md);
  margin-bottom: 10px;
  color: var(--secondary);
  font-weight: 600;
}
.author{
  font-size: 0.90rem;
  color: var(--secondary);
  opacity: 60%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
.author span{
  display: block;
  font-size: 0.80rem;
}

@keyframes scroll-left{
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-left-testimonial {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-50%);
  }
}

@media (max-width: 1187px){
  .cards-container{
    align-items: center;
  }
  .card-hero3{
    height: auto;
  }
  .card-hero2{
    height: auto;
  }
  .card-text h1{
    font-size: var(--heading-md);
    line-height: 3rem;
  }
  .card-text p{
    margin-top: 0.50rem;
  }
  .card-text-2{
    top: 30%;
  }
  .card-text-3{
    top: 40%;
    max-width: 500px;
  }
}

@media (max-width: 1120px) {
  .links a {
    font-size: 0.9rem;
  }
  .brands-content img {
    height: 35px;
  }
  .brands-container {
    padding: 1rem 0rem;
  }
  .card-text{
    max-width: 500px;
  }
}


@media (max-width: 960px) {
  .links {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .mobile-menu.active {
    display: flex;
  }
    .cards-container {
    display: flex;
    flex-direction: column;
  }

  .card-hero1,
  .card-hero2,
  .card-hero3 {
    min-width: 100%;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem 2rem;
  }
  .logo-container img {
    height: 30px;
  }
  .logo-container p {
    font-size: 1rem;
  }
  .icons i {
    font-size: 1.2rem;
  }
  .icons {
    align-items: center;
  }
  .brands-content img {
    height: 25px;
  }
  .new-a-content h2{
    font-size: var(--heading-sm);
  }
  .new-a-content p{
    font-size: 0.95rem;
  }

  /* Added responsive bento behavior below */
  .cards-container {
    display: flex;
    flex-direction: column;
  }
  .card-hero1,
  .card-hero2,
  .card-hero3 {
    grid-column: auto;
    grid-row: auto;
    width: 100%;
  }
  .card-text,
  .card-text-2,
  .card-text-3 {
    position: static;
    padding: 1.5rem 1rem;
    background-color: transparent;
    color: var(--secondary);
    line-height: 1.8rem;
    max-width: 900px;
  }
  .card-text-2 p,
  .card-text-3 p{
    display: block;
  }
  .card-text h1 {
    font-size: var(--heading-sm);
    line-height: 2.5rem;
  }
  .card-text p,
  .card-text-2 p,
  .card-text-3 p  {
    font-size: 0.95rem;
    opacity: 100%;
    line-height: 1.3;
  }
  .card-text a,
  .card-text-2 a,
  .card-text-3 a {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.40rem 2rem;
  }
  .card-hero1 img,
  .card-hero2 img,
  .card-hero3 img {
    max-height: 300px;
  }
  .new-a-content p{
    text-align: center;
  }
}

@media (max-width: 597px) {
  .brands-container {
    gap: 3rem;
  }
  .hero-container{
    padding: 1rem 2rem;
  }
  .card-text h1{
    font-size: 1rem;
    line-height: 1rem;
    margin-top: -10px;
  }
  .card-text-2 h2,
  .card-text-3 h2{
    font-size: 1rem;
    line-height:1rem;
    margin-top: -10px;
  }
  .card-text p,
  .card-text-2 p,
  .card-text-3 p{
    font-size: 0.70rem;
  }
  .card-text a,
  .card-text-2 a,
  .card-text-3 a{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.45rem 1.5rem;
  }
  .new-arrival-banner{
    padding: 1rem 2rem;
  }
  .new-a-content h2{
    font-size: 1rem;
  }
  .new-a-content p{
    font-size: 0.70rem;
    margin-bottom: 15px;
    text-align: center;
  }
  .new-a-content a{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.70rem 1rem.5;
  }
}

@media (max-width: 425px) {
  .logo-container p {
    display: none;
  }
  .hero-container{
    padding: 1rem 2rem;
  }
  .brands{
    padding: 1rem 2rem;
  }
  .brands-container{
    gap: 1rem;
  }
  .card-text h1{
    font-size: 1rem;
    line-height: 1rem;
    margin-top: -10px;
  }
  .card-text-2 h2,
  .card-text-3 h2{
    font-size: 1rem;
    line-height:1rem;
    margin-top: -10px;
  }
  .card-text p,
  .card-text-2 p,
  .card-text-3 p{
    font-size: 0.80rem;
  }
  .card-text a,
  .card-text-2 a,
  .card-text-3 a{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.45rem 1.5rem;
  }
  .new-arrival-banner{
    padding: 1rem 2rem;
  }
  .new-a-content p{
    text-align: center;
    font-size: 0.80rem;
    font-weight: 500;
  }
  .new-a-content a{
    padding: 0.65rem 1.5rem;
  }
}

@media (max-width: 321px) {
  .card-text a,
  .card-text-2 a,
  .card-text-3 a{
    font-size: 1rem;
    font-weight: 300;
    padding: 0.35rem 1.5rem;
  }
  .new-a-content a{
    padding: 0.65rem 1.5rem;
  }
}
